In [54]:
import glob
import matplotlib.pyplot as plt

import tensorflow
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd

In [60]:
# Resizing VGG_v10_auc_0.877.h5
# Controling shapes VGG_v7_auc_0.901.h5
vgg = load_model('../saved_models/VGG_v7_auc_0.901.h5', compile=False)

In [61]:
imgs_name = glob.glob('../data_processed/test/mel/*.jpg')

In [62]:
name_2_dim = {x.split('/')[-1]: plt.imread('../ISIC-2019/ISIC_2019_Training_Input/' + 
                                           x.split('/')[-1]).shape for x in imgs_name}

In [63]:
shape_2_scores = {x: [] for x in list(set(name_2_dim.values()))}

for img_name in imgs_name:
    img = tensorflow.keras.applications.vgg16.preprocess_input(plt.imread(img_name))
    img = np.expand_dims(img, axis=0)
    shape_2_scores[name_2_dim[img_name.split('/')[-1]]].append(vgg.predict(img))

In [64]:
shape_2_statistics = {}
for key, value in shape_2_scores.items():
    avg = np.mean(value)
    std = np.std(value)
    shape_2_statistics[key] = {'total': len(value), 'avg': avg, 'std': std }

### 1. Dark padding

In [65]:
df = pd.DataFrame(shape_2_statistics).transpose()
df = df[df['total'] >= 20]
df

             total       avg       std
450  600  3  168.0  0.826100  0.230404
768  1024 3   20.0  0.806100  0.230702
1024 1024 3  389.0  0.846299  0.218769
680  1024 3   39.0  0.562991  0.317695

### 2. Resizing and deforming images

In [59]:
df = pd.DataFrame(shape_2_statistics).transpose()
df = df[df['total'] >= 20]
df

             total       avg       std
450  600  3  168.0  0.599310  0.265374
768  1024 3   20.0  0.544877  0.265175
1024 1024 3  389.0  0.692142  0.253866
680  1024 3   39.0  0.322971  0.229008